#container{
    text-align: center;
    border:1px solid rgba(128, 128, 128, 0.199);
    width: 30vw;
    margin-left: 35vw;
    box-shadow: gray 5px 5px 5px;
    border-radius: 10px;
    background-color: rgb(250, 247, 235);
}
mat-card-title{
    font-size: 3vw;
}
mat-error{
    color:red;
}
mat-form-field{
    font-size: 2vw;
}
input{
    width: 20vw;
    height: 2vw;
}
button{
    margin-top: 1vw;
    width: 10vw;
    height: 3vw;
    background-color: rgb(5, 177, 5);
    color: white;
    font-size: 1.8vw;
    border:none;
    border-radius: 5px;
}
button:hover{
    opacity: 0.6;
    cursor: pointer;
}
p{
    font-size: 1.6vw;
}