<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="all">
<div class="opis"><h2>Opis</h2>
    <p>Sed pulvinar diam sed laoreet pulvinar. Nunc eget purus et odio sodales porttitor. Suspendisse eget leo a risus porttitor blandit tempus vel turpis. Praesent viverra efficitur magna, nec lacinia nulla sagittis vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla egestas, eros vel malesuada mattis, ligula tellus mollis orci, eu malesuada augue tortor at nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent finibus turpis ut varius viverra. Fusce id luctus nibh. Duis leo nulla, finibus pharetra tortor eu, laoreet vulputate metus. Praesent quis leo scelerisque, consequat justo vel, ornare magna. Proin consectetur tortor nec augue convallis gravida.</p>
</div>

<div class="container">
    <h2 class="c">Kontakt</h2>
    <div class="contact">
        <div class="adres">
            <p>Adres: Kawiory 13 Kraków 30-055</p>
            <p>E-mail: xyz@gmail.com</p>
            <p>Numer telefonu: 997213713</p>
        </div>
        <div class="socialmedia">
            <a href="https://www.facebook.com" target="_blank" class="fa fa-facebook"></a>
            <a href="https://www.twitter.com" target="_blank" class="fa fa-twitter"></a>
        </div>
    </div>
    <div class="mapouter">
        <iframe
          src="https://maps.google.com/maps?q=krak%C3%B3w%20kawiory&t=&z=15&ie=UTF8&iwloc=&output=embed"
        ></iframe>
    </div>
</div>
</div>
