#container{
    margin-left: 35vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 30vw;
    background: linear-gradient(rgb(188, 236, 232),rgb(109, 202, 202));
    border-radius: 10px;
    box-shadow: rgb(199, 214, 214) 5px 5px 5px;
}
form{
    text-align: center;
}
h3{
    text-align: center;
    font-size: 2.2vw;
    padding-top: 1vw;
    text-shadow: rgb(197, 197, 197) 2px 2px 2px;
}
#form-elem{
    width: 95%;
    height: 3vw;
    font-size: 1.5vw;
    margin-bottom: 1vw;
    border:none;
    border-radius: 5px;
    margin-top: 0.5vw;
    background-color: rgb(225, 250, 247);
}
#description{
    font-size: 1.5vw;
    width: 28vw;
    margin-bottom: 1vw;
    border:none;
    border-radius: 5px;
    margin-top: 0.5vw;
    background-color: rgb(225, 250, 247);
}
#sub{
    margin-bottom: 1vw;
    font-size: 1.5vw;
    width: 8vw;
    height: 2.5vw;
    border:none;
    background-color: rgb(61, 168, 79);
    color:white;
    border-radius: 6px;
}
#sub:hover{
    cursor: pointer;
    background-color: rgb(36, 196, 84);
}
#menu{
    display: flex;
    flex-direction: column;
    background: url("https://thumbs.dreamstime.com/b/hand-drawn-vector-seamless-fast-food-pattern-sketch-doodle-elements-can-be-used-wallpaper-website-background-wrapping-79399570.jpg");
 }
 #curr{
    height: 4vw;
    width: 4vw;
    font-size: 2vw;
    color:white;
    background-color: rgb(35, 190, 175);
    border: none;
    margin-right: 0.3vw;
    border-radius: 10px;
 }
 #curr:hover{
    cursor: pointer;
    background-color: rgb(81, 235, 219);
 }
#sizebtns{
   text-align: center;
   margin-bottom: 5vw;
   border: solid 2px red;
   background-color: rgb(243, 237, 225);
   padding-bottom: 2vw;
   margin-left: 20vw;
   margin-right: 20vw;
}

#sbtn{
   height: 3vw;
   width: 3vw;
   margin-left: 0.3vw;
   font-size: 1.6vw;
   color:white;
   background-color: rgba(73, 73, 247, 0.801);
   border:none;
   border-radius: 2px;
}
#sbtn:hover{
cursor: pointer;
opacity:0.6;
}
p{font-size: 1.7vw;
padding-top:1vw;
padding-bottom: 1vw;}